* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*:focus-visible {
    outline: 2px solid var(--primary-hover);
}

html,
body {
    font-family: 'Noto Sans', sans-serif;
    color: var(--black);
    background: #f5f6f8;
}


a {
    color: inherit;
    text-decoration: none;
}

:root {
    --black: #3b434e;
    --gray: #d6cdcd;
    --gray-light: #ebebeb;
    --gray-dark: #666b74;
    --white: white;
    --primary: #7351f5;
    --primary-hover: #4b2dc4;
    --red: #fc836d;
    --red-light: #ffbfb4;
    --green: #007846;
    --green-light: #c8f8e4;
}

.overflow {
    overflow: hidden;
}